@use '../global';
div.card {
  user-select: none;
  background: white;
  position: relative;
  border-radius: 14px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
  transition: 0.3s;
  overflow: hidden;
  &:hover,
  &:focus {
    transform: scale(1.03);
  }
  .card-design {
    z-index: 0;
    background: linear-gradient(45deg, orange, yellow);
    position: absolute;
    height: 5em;
    width: 102%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    transform-origin: left;
    top: 0;
    left: -4px;
    transform: rotate(-5deg);
  }
  .card-body {
    margin-top: 3em;
  }
  h2 {
    position: relative;
    z-index: 2;
  }
  p {
    font-size: 1.1em;
  }
  @include global.responsive(321px) {
    h2 {
      font-size: 1.3em;
    }
    .card-design {
      height: 4.5em;
    }
  }
}
