/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.btn {
  background: chocolate;
  color: white;
  text-decoration: none;
  padding: 0.4em 0.5em;
  display: inline-block;
  border: 2px solid white;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  transition: 0.3s;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: none;
  }
}
