.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
}
.details-card {
  position: fixed;
  max-width: 700px;
  width: 90%;
  background-color: white;
  min-height: 100px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform-origin: top;
  border-radius: 14px;
  z-index: 20;
  transform: translate(-50%, -50%);
  .content {
    padding: 1em;
    h2 {
      margin: 0 0 8px;
    }
    p {
      font-size: 1.1em;
      margin: 8px 0 12px;
    }
    span.badge {
      font-size: 0.8em;
      font-weight: 600;
      display: inline-block;
      color: white;
      margin: 0 0 8px;
      border-radius: 4px;
      background-color: rgb(48, 85, 163);
      padding: 4px 10px;
    }
  }
  .btn-details {
    font-size: 1.1em;
    margin: 0 8px 0 0;
    border: none;
  }
  .btn-repo {
    background-color: rgb(204, 39, 39);
  }
  .btn-visit {
    background-color: #1d6d47;
  }
}
